@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    margin: 10px;
    background-color: #eec640;
}
html::-webkit-scrollbar-thumb{
    background-color: #f783ac;
}
header{
    background-color: #fff;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.btn-lg{
    text-decoration: none;
    margin: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}
.nav-link{
    font-size: 2rem;
    color: #ffa0c1;
}
.btn-lg:hover{
    color:#f5387a;
}
.logo{
    width: 5vw;
}
.text-pink{
    color:#f5387a
}
/* main{
    min-height: 75vh;
    background-image: url(../assets/fondo.png);
    background-size: contain;
} */
.banner{
    height: 35vh;
    background-image: url(../assets/perros-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro-prueba{
    display: flex;
    justify-content: space-around;
}
.filtros{
    background-color: #ffda60;
}
.btn-filtro{
    min-width: 5rem;
    height: 4rem;
}
.btn-pink{
    background-color: #ffa0c1;
}
.btn-pink:hover{
    background-color: #f783ac;
}

i{
    font-size: 3rem;
}
.grilla-jugueteria{
    padding: 1rem;
}

#formulario{
    background-color: #eec640;
}

.table-productos{
    display:flex;
}
.table-productos img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}
.table_cantidad input{
border: none;
outline: 0; 
font-size: 16px;
font-weight: 800;

background-color: whitesmoke;
}


.alert{
    z-index: 100;
}
.hide,.remove{
    display: none;
}

@media screen and (max-width: 1000px){#navbarOffcanvasLg {
    background-color:rgb(215, 215, 215);
    opacity: 90%;
    width: 30vh;
    }
} 

.carrousel-ctn{
    min-height: 90vh !important;

}
.card{
    height:30rem;
}
.card-img-top{
    max-height: 40%;
    width: 100%;
    object-fit: cover; 
}
.card-body{
    min-height: 35%;
    max-height: 35%;
}
.card-footer{
    max-height: 25%;
}

.slide img{
    height: 90vh;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title{
    text-align: center;
    font-size: 50px;
    color:#fff;
    font-weight: 700;
}
.subtitle{
    text-align: center;
    font-size: 1.7rem;
    text-align: center;
    color:#fff;
}
.negrita{
    font-weight: 800;
}
h4{
    font-size: 2rem;
    color: white;
    object-fit: cover;
}

.h4-map{
    text-align: center;
    color: white;
    padding-bottom: 1rem;
    font-size: 40px;
}
.conteiner-map{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color:#eec640;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li a{
    text-decoration: none;
}

.ocultar-boton{
    display: none;
}

#boton-enviado:hover{
    cursor: default;
}


.bi{
    font-size: 2rem;
}
@media screen and (max-width: 1000px){#navbarOffcanvasLg {
    background-color:rgb(215, 215, 215);
    opacity: 90%;
    width: 30vh;
    }
}

#carrito-container {
    min-height: 60vh;
}
footer{
    background-color: #fff;
    min-height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}
.a-footer{
    color: #f5387a;
    margin: 10px;
}